/* Update custom-content for Breakpoint.Xs */
@media (min-width: 0px) and (max-width: 575px) {
  .custom-content {
    width: 95%;
    height: 40%;
    margin-top: 20%;
    background-color: #f0f0f0;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.4);
  }

  .my-display {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.4);
    font-size: 3.5rem;
  }
  .responsive-item {
    width: 95%;
    height: 90%;
    padding: 2px;
    font-size: 2.4rem;
    color: bisque;
    background-color: #060606;
    border: 4px solid #ffffff;
    border-radius: 20px;
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* Update custom-content for Breakpoint.Sm (576-767px) */
@media (min-width: 576px) and (max-width: 767px) {
  .custom-content {
    width: 70%;
    height: 50%;
    margin-top: 20%;
    background-color: #f0f0f0;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.4);
  }
  .my-display {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.4);
    font-size: 2.5rem;
  }
  .responsive-item {
    width: 95%;
    height: 95%;
    padding: 10%;
    font-size: 4rem;
    color: bisque;
    border: 4px solid #ffffff;
    border-radius: 20px;
    background-color: #060606;
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* Update custom-content for Breakpoint.Md (768-991px) */
@media (min-width: 768px) and (max-width: 991px) {
  .custom-content {
    width: 90%;
    height: 60%;
    margin-top: 10%;
    background-color: #f0f0f0;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.4);
  }
  .my-display {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.4);
    font-size: 3rem;
  }
  .responsive-item {
    width: 90%;
    height: 90%;
    font-size: 4rem;
    border: 4px solid #ffffff;
    color: bisque;
    background-color: #060606;
    border-radius: 20px;
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* Update custom-content for Breakpoint.Lg (992-1199px) */
@media (min-width: 992px) and (max-width: 1199px) {
  .custom-content {
    width: 60%;
    height: 60%;
    margin-top: 10%;
    background-color: #f0f0f0;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.4);
  }
  .my-display {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.4);
    font-size: 3.5rem;
  }
  .responsive-item {
    width: 90%;
    height: 100%;
    padding: 1px;
    font-size: 4rem;
    border: 4px solid #ffffff;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.4);
    background-color: #060606;
    color: bisque;
  }
}

/* Update custom-content for Breakpoint.Xl (1200px and above) */
@media (min-width: 1200px) {
  .custom-content {
    width: 55%;
    height: 60%;
    margin-top: 5%;
    background-color: #f0f0f0;
    border-radius: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.4);
  }
  .my-display {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 7rem;
  }
  .responsive-item {
    width: 95%;
    height: 90%;
    font-size: 4rem;
    border: 4px solid #ffffff;
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.4);
    border-radius: 50px;
    background-color: #060606;
    color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.header-setting {
  padding-right: 2%;
}

/* CSS for buttons */
.ion-hide-sm-down {
  display: none;
}

@media (min-width: 576px) {
  .ion-hide-sm-down {
    display: inline-flex;
  }
}